# macOS
.DS_Store

# Xcode
DerivedData/
**/*.xcworkspace/xcuserdata/
**/*.xcodeproj/xcuserdata/
**/*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserstate

# SwiftPM
.build/
.swiftpm/

# Editors
.vscode/
.idea/
